@import 'mixin-underlines';
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---------------------------------------------- 
	TYPOGRAPHIC BASIS 
---------------------------------------------- */
html{
	font-size:$base-font-size;
	line-height:1.5;
}
body {
	font-family: $font-sans;
	font-size:1rem;
	background-color:$background-grey;
	color:$text-black;
}
a {
    color: $blue;
    @include link-underline($white, $blue, $color-selection);
    &:hover{
	    color:$dark-blue;
    }
    abbr[title]{
	    border-bottom: none;
    }
}
u,.underline{
	// Pretty underlines
    @include link-underline($white, $text-black, $color-selection);
}


p {
	margin-bottom:1rem;
}

strong {
    font-weight: bolder;
}
fieldset{
	border: none;
}
select{
	width:auto;
	max-width:100%; //to make sure select boxes stay inside their container
}

/* ---------------------------------------------- 
	THE VOICE
	// this class set is used to convey specific expressions in a coherent, global system: the voice of your application. 
---------------------------------------------- */

.voice{
	font-size:100%;
	font-family: $font-sans;
	&--info{
		background-color:#FFFFDD;
	}
	&--loud{
		font-size:133%;
	}
	&--discreete{
		opacity:.8;
		font-size:89%;
	}
	&--whisper{
		font-size:72%;
		opacity:.6;
	}
	&--error{
		color: $red;
		font-weight: bold;
	}
}

.feedback{
	background:#FFFFDD;
	border-left:2px solid $blue;
	padding:.2rem 1rem;
	&--error{
		border-left-color:$red;
	}
}

/* ---------------------------------------------- 
	HELPERS
	// quick fix classes 
---------------------------------------------- */

.hide {
    display: none;
    opacity: 0;
}

.block {
    display: block;
}
.block-full {
    width: 100%;
}
.show {
    display: block;
    opacity: 1;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.no-underline{
  background-size:0px !important;
}

// OVERWRITE SOME PURE-CSS
.pure-menu-item{height:auto;}

a.pure-button-primary{
	background-color:$blue;
	color:white;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 0.5rem 0.8rem;
}
/* ---------------------------------------------- 
	BUTTONS & CALLS TO ACTION 
---------------------------------------------- */
.pure-button,
.pure-button-primary,
.button-primary,
.btn-primary {
	background-color:$blue;
	border-radius: 4px;
	text-shadow: none;
	font-weight: 300;

	transition: background-color 0.2s ease;
	&:hover,
	&:active,
	&:focus {
		background-color:$dark-blue;
	}
}
.button-small {
	font-size: 85%;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	border:none;
    background: transparent;
     color:$blue;
     text-shadow: none;
     padding:.5rem 1rem;
}
.button-as-link{
	background:none;
	color: $blue;
	border:none;
	@include link-underline($white, $text-black, $color-selection);
	text-shadow: none;
}

.fa{
	vertical-align: middle;
	font-size: inherit;
	line-height: 2;
	margin-right:6px;
}

.link {
    display: inline-block;
    border: none;
    background: none;
	color:$grey;
	text-decoration : underline;
	outline : 0;
	font-size:200%;
	&:hover{
			
	}
}

.button-social {
	background-color: $blue;
    border-radius: 4px;
    text-shadow: none;
    padding: 8px 25px 6px;
    transition: background-color 0.2s ease;
    border: 0 transparent;
    color: #fff;
    font-size:200%;
}
.button-facebook {
	
	&:hover {
		color: $color-facebook;
	}
} 
.button-twitter {
	
	&:hover {
		color : $color-twitter;
	}
} 
.button-google {
	
	&:hover {
		color : $color-google;
	}
}



/* ---------------------------------------------- 
	INTERFACE CANVAS
---------------------------------------------- */
.ui-wrapper {
	margin:10px;
	max-width:640px;
	background-color: $lightest-grey;
	border:1px solid $light-grey;
}
header.app-header{
	text-align: center;
	padding:10px;
	h1,h2{
		line-height: 1.2;
		margin:0;
		padding:0 0 10px;
		font-weight: normal;
	}
}
.ui-tagline{
	text-align:center;
	font-size: 89%;
	
}
.ui-title{
	text-transform: uppercase;
	font-weight:lighter;
	color: $grey;
	font-family: $font-sans;
	font-size: 89%;
}
main {
	background-color:white;
	padding:1rem 3rem 1rem;

}
footer.app-footer{
	text-align: center;
	padding:10px;
	*{
		color: $grey;
	}
	a{
		text-decoration: none;
	}
}
.no-padding { padding : 0; }



/* FANCY CONTROLLERS */
.slider-toggle{
	height: 50px;
}
.slider-toggle.off .noUi-handle {
	border-color: red;
}